# /etc/systemd/system/immich-backup.service
[Unit]
Description=Immich Backup Service

[Service]
# We use Type=oneshot because this service runs a single task and then exits
Type=oneshot

# The user under which the script will run.
# You can change this to 'root' or a dedicated user if needed.
User=your_username

# The command that actually runs your backup script
ExecStart=backup_immich.sh
ExecStart=/path/to/backup-immich.sh
# The path to where .env file is
WorkingDirectory=/path/to/env

[Install]
WantedBy=multi-user.target
